.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #ccc;
    margin: 5px;
}

.btnprev{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

.btnnext{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

.pagination {
    text-align: center;
}

.btn.active {
    border-color: blue;
}